@import "tailwindcss";
@import "tw-animate-css";
/* in globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this block */
@layer base {
  body {
    /* Standard Light Mode */
    @apply bg-white text-slate-900 transition-colors duration-300;
  }

  .dark body {
    /* Full Dark Mode Background & Text */
    @apply bg-black text-white;
  }
}